@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* .margin-lr { 
    margin: 0px 141px 0px 141px;
} */


  /* Shared Style */

.orange {
    color: orange;
}

.sky-blue {
    color: rgb(47, 128, 237);
}

.cyan {
    color: Cyan;
}

.indigo {
    color: rgba(93, 88, 239, 1);
}



                                        /* Header Style */
     /* Navigation */                                   
section {
    border: 1px dashed black;
}

.navigation { /* Parent */
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 62px;
    height: 62px;
}

.navigation > h1 {
    max-width: 100%;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.8rem;
}

.menu { /* Center Menu item  */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.menu > ul > li { /* Nav */
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
}

ul { /* Remove Bullets */
    display: flex;
    list-style-type: none;
    padding: 0px;
    gap: 32px;
    /* font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.8rem; */
}

ul li a { /* Remove Underline */
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.8rem;
}

.hamburger-menu { /* Hamburger Menu */
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu span {
    height: 3px;
    width: 25px;
    background-color: black;
    margin: 4px 0px;
    border-radius: 5px;
}

.button-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-btn {
    width: 197px;
    height: 50px;
    padding: 10px 60px;
    border-radius: 12px;
    border: none;
    color: white;
    background-color: orange;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.8rem;
}

    /* Banner */
.banner-container { /* Parent */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.banner > h1 {
    max-width: 100%;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.8rem;
    color: black;

}

.banner > p {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 24px 0px;
}

.banner-img {
    max-width: 100%;
}

.banner-img img {
    width: 100%;
    height: auto;
}

.enroll-btn {
    width: 197px;
    height: 50px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.8rem;
    padding: 10px 10px;
    border-radius: 12px;
    border: none;
    color: white;
    background-color: black;
}


/* Standard Curriculum */

.standard {
    background-image: url(../assets/bg.png);
}

.standard > h1 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.5rem;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.card-container {
    display: flex;
    justify-content: space-around; /* Change it , if needed */
    align-items: center;
    gap: 28px;
}

.card {
    width: 367px;
    height: 476px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 19px;
    box-shadow: 0 0 28px 0.94px rgba(0, 0, 0, 0.05);
                /* inset: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.gradient1 {
    background: linear-gradient(to bottom, rgba(173, 216, 230, 0.5), rgba(173, 216, 230, 0));
}

.gradient2 {
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1), rgba(173, 216, 230, 0));
}

.gradient3 {
    background: linear-gradient(to bottom, rgba(242, 232, 255, 1), rgba(173, 216, 230, 0));
}

.card-content h1 {
    color: rgba(32, 32, 32, 1);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8rem;
    margin: 32px 0px;
}

.card-content p {
    color: rgba(128, 128, 128, 1);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.7rem;
    margin: 32px 0px;
}

.readmore {
    background: white;
    border: none;
    width: 79px;
    height: 88px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.7rem;
    text-decoration: none;
}

.circle-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: orange;
    color: white;
    /* font-size: 1.5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrows {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 80px 60px;
}

.left-arrow {
    font-size: 2.5rem;
    font-weight: 800;
}

.right-arrow {
    font-size: 2.5rem;
    font-weight: 800;
}

        /* Our Stories */

.container {
    background: linear-gradient(to top, rgba(255, 244, 220, 1), rgba(173, 216, 230, 0)), 
    url(../assets/bg.png);
    background-size: cover;
    background-position: center;
}

.container h1 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.5rem;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.stories-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.story-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.story-card {
    background: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; /* Hover */
    position: relative;
}

.story-card:hover {
    transform: translateY(-5px);
}

.story-card.featured { /* For right side photo */
    grid-column: 1;
    grid-row: 1 / span 2;
}

.story-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.featured .story-image {
    height: 400px;
}

.story-content {
    padding: 1.5rem;
}

    /* Date Badge */
.date-badge {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    color: white;
    font-size: 1rem;
}

.badge-blue {
    background-color: rgba(60, 216, 232, 1);
}

.badge-green {
    background-color: rgba(149, 178, 38, 1);
}

.badge-purple {
    background-color: rgba(93, 88, 240, 1);
}

.story-title-1 {
    font-size: 1.5 rem;
    font-weight: 700;
    line-height: 2.3rem;
    margin: 60px 0px 50px 0px;
    text-align: left;
}

.story-description {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: rgba(102, 102, 102, 1);
}

.story-title {
    font-size: 1 rem;
    font-weight:700;
    line-height: 1.8rem;
    padding: 2px;
    text-align: left;
}

.our-story-btn {
    color: white;
    background-color: black;
    padding: 10px 10px;
    border-radius: 12px;
    width: 197px;
    height: 50px;
}

.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0px 60px 0px;
}










        /* Responsive */

/* Mobile Device */
@media screen and (max-width: 576px) {

    /* Navigation */
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0px;
        background-color: white;
        padding: 10px 0px;
    }

    .menu ul {
        flex-direction: column;
        gap: 10px;
    }

    .logo img {
        margin: 16px 0px 16px 16px;
    }

    .hamburger-menu {
        margin: 16px 16px 16px 0px;
    }

    .navigation {
        align-items: center;
    }

    .navigation h1 {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .menu.active {
        display: flex;
    }

    /* Banner */

    .banner-container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .banner {
        max-width: 100%;
    }

    .banner > h1 { /* Adjusting Font Size */
        font-size: 2.5rem;
        line-height: 2.8rem;
    }

    /* .banner > h1 .orange,
    .banner > h1 .cyan {
        display: block;
    } */

    .banner-img {
        max-width: auto;
    }

    .button-1 {
        display: none; /* Hide button */
    }

    /* Standard Curriculum */
    .card-container {
        flex-direction: column;
    }

    .circle-button {
        display: none;
    }

    /* Our Stories */

    .left-article {
        display: none;
    }

    .story-card-container { /* Responsive kora baki ache */
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Tablet Device */



/* Desktop Device */